<template>
  <div class="login">
    <h1>{{ msg }}</h1>

    <button type="submit" @click="submit()">Click here für MetaMask</button>
  </div>
</template>

<script>
import Web3 from 'web3/dist/web3.min.js'

export default {
  name: 'LoginPage',
  props: {
    msg: String
  },
  methods: {
    submit() {
        console.log("Submit is clicked")
        this.loginWeb3()
    },
    async loginWeb3() {
        if (! window.ethereum) {
            alert('MetaMask not detected. Please try again from a MetaMask enabled browser.')
        }

        const web3 = new Web3(window.ethereum);

        const message = [
            "I have read and accept the terms and conditions (https://example.org/tos) of this app.",
            "Please sign me in!"
        ].join("\n")

        const address = (await web3.eth.requestAccounts())[0]
        const signature = await web3.eth.personal.sign(message, address)
        console.log({ message, address, signature })
        // return useForm({ message, address, signature }).post('/login-web3')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
